<header class="w-full border-b-2 px-2 py-4 mb-12">
    <div class="container flex justify-between items-center mx-auto">
        <a href="/"> 
            <img src="/public/img/logo.svg" alt="Nodder" class="h-12">
        </a>

        <nav>
            <ul class="max-w-xs w-64 flex justify-between">
                <li><a href="/postagens">Postagens</a></li>
                <li><a href="/categorias">Categorias</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        </nav>
        
        <form action="/postagens" class="flex items-center border-2 rounded-md">
            <input type="search" name="search" class="w-screen max-w-[500px]  border-0 outline-none rounded-l-2">
    
            <button class="p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 stroke-gray-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>              
            </button>
        </form>

        <ul class="flex ml-8">
            <li class="mr-2"><a href="/login" class="underline">Login</a></li>
            <li class="mr-2"><a href="/cadastro" class="underline">Cadastro</a></li>
            <li><a href="/admin" class="underline">Admin</a></li>
        </ul>
    </div>
</header>
