<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="flex flex-1 justify-center">
    <div class="max-w-7xl">
        <h1 class="text-center font-bold text-4xl mb-7">Nodder</h1>

        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum cursus lacinia. Ut turpis lorem, egestas sed mi placerat, sagittis convallis metus. Cras sit amet ex sed sem dignissim rhoncus ut vel nibh. Duis sem augue, pellentesque nec ligula vitae, ultrices vulputate odio. Phasellus eget mauris porta, venenatis nulla a, euismod justo. Pellentesque nunc purus, commodo sed sapien ac, venenatis rutrum odio. Aenean erat ex, tempus quis consectetur non, vehicula non massa. Nam sit amet ligula lobortis, viverra erat a, tempus justo. Etiam blandit ornare eleifend. Duis feugiat metus erat, quis porttitor dolor sagittis at. Praesent consectetur est quis lectus consequat, sed euismod velit euismod. Pellentesque euismod mollis magna nec dapibus. Sed a nunc sit amet turpis ornare malesuada.</p>

        <p class="mb-3">Quisque cursus ex ligula, a euismod turpis commodo at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae molestie neque. Suspendisse dignissim accumsan augue, eu fringilla urna laoreet non. Nunc accumsan semper erat, sit amet auctor erat lacinia vel. Morbi euismod porttitor tempor. Mauris cursus dictum dui egestas commodo. In mattis posuere mi in bibendum. Ut quis nunc tempor, posuere felis eget, vulputate elit. Cras imperdiet ultrices mattis. Duis faucibus mi eu nunc congue porta. In vitae ante aliquet, fringilla lorem id, consequat sapien.</p>

        <p class="mb-3">Mauris eleifend nibh nulla, interdum laoreet nulla vehicula eget. Fusce ut eros non ante luctus lacinia. Proin a justo non lorem mollis ullamcorper. Pellentesque sed orci quis mi dictum finibus eget a tellus. Duis at congue enim. Aenean posuere ipsum porttitor velit elementum posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam sed massa urna. Cras lacinia a lectus scelerisque ultrices. Curabitur felis enim, egestas et tortor id, mollis fringilla est. Maecenas pellentesque diam et enim ultricies fermentum. Morbi nec ex urna. Nam faucibus lacinia blandit. Integer suscipit eros ac tellus vehicula iaculis.</p>

        <p class="mb-3">Aliquam ultrices facilisis viverra. Nullam fringilla metus nec augue pellentesque volutpat. In vel tortor id sem viverra pellentesque. In fringilla elementum ante, sed ultricies enim eleifend eu. Aliquam mollis, neque vitae commodo dignissim, ligula est tempus leo, nec congue nisi lacus non sapien. Cras dapibus, urna vel auctor tempus, neque nisl porttitor dolor, ut tempus augue quam sodales massa. Nam placerat ligula eu justo congue, id venenatis nibh venenatis. Nulla facilisi. Aliquam semper lorem eget velit aliquam, a ultricies mauris euismod. Integer placerat facilisis sapien nec tempor. Nunc finibus pulvinar enim in suscipit. Pellentesque fringilla libero dui, non convallis libero suscipit vitae. Donec imperdiet facilisis hendrerit. Ut interdum id velit ut hendrerit. Phasellus tincidunt tortor sit amet luctus fringilla.</p>

        <p>Morbi molestie imperdiet tellus, non tristique quam accumsan vel. Integer vehicula vehicula nisi, et faucibus lacus efficitur eget. Ut in dui dolor. Nullam elementum elit sit amet mi rutrum, a blandit dui cursus. Vestibulum nec vehicula mi. Vivamus non vulputate mauris, nec aliquam justo. Vestibulum maximus imperdiet nunc, tincidunt volutpat metus sodales a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
</main>


<%- include('./partials/footer') %>