<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="flex flex-1 justify-center">

    <!-- Banner -->
    <div>

    </div>

    <!-- Posts mais recenter-->
    <div>

    </div>

    
    <div class="container  bg-gray-50 ">
        Destaque: Uma seção de destaque com um grande banner de imagem e um título chamativo, destacando as
        postagens mais recentes, populares ou relevantes.
        <br><br>
        Últimas postagens: Uma lista das postagens mais recentes do blog, com um título, uma imagem em miniatura
        e um pequeno trecho da introdução.
        <br><br>
        Categorias: Uma seção que lista as categorias de postagens do blog, permitindo aos leitores filtrar as
        postagens por tópico.
        <br><br>
        Destaque de autor: Uma seção que apresenta os autores do blog, com suas fotos, biografias e links para
        seus perfis nas redes sociais.
        <br><br>
        Lista de recursos: Uma seção que lista links para recursos úteis relacionados aos tópicos do blog, como
        livros, ferramentas, serviços e outros blogs.
        <br><br>
        Call-to-action: Uma chamada para ação, incentivando os leitores a se inscreverem na lista de email do
        blog, baixar um e-book gratuito, ou se inscreverem em um curso online.
        <br><br>
        Rodapé: Um rodapé com informações sobre o blog, como a data de criação, informações de contato, política
        de privacidade e termos de uso.
        <br><br>


        Destaque
        Imagem em destaque com título e breve descrição de um post recente
        <br><br>
        Destaques secundários
        Três imagens menores com título e breve descrição de posts recentes em destaque
        <br><br>
        Seções
        Seções com posts mais recentes, organizados por categoria (ex: Moda, Beleza, Comida, Viagem)
        Cada post exibe uma imagem, título, breve descrição e link para ler mais
        <br><br>
        Sidebar
        Sobre o blog (com uma breve descrição e imagem do autor/a)
        Formulário de inscrição na newsletter
        Links para redes sociais
        Busca
        <br><br>
        Footer
        Menu de navegação secundário com links para páginas de políticas (ex: Privacidade, Termos e Condições)
        Copyright e informações de contato
    </div>
</main>

<%- include('./partials/footer') %>