<%- include('../partials/head') %>

<main class="h-full w-full flex px-2 items-center justify-center absolute">
    <div class="shadow-2xl p-5 w-screen max-w-xl">
        <div class="flex justify-center mb-3">
            <a href="/">
                <img src="/public/img/icone_logo.svg" alt="Nodder" width="100">
            </a>
        </div>
    
        <h1 class="text-3xl font-bold">Bem vindo de volta</h1>
    
        <form action="/login" method="POST">
            <div class="flex flex-col my-3">
                <label for="">E-mail</label>
                <input type="text" name="email" class="rounded-lg">
            </div>
    
            <div class="flex flex-col mb-5">
                <label for="">Senha</label>
                <input type="password" name="password" class="rounded-lg">
            </div>
    
            <div class="flex justify-between items-center">
                <span class="">Não tem uma conta? <a href="/cadastro" class="underline italic">Cadastre-se</a></span>
                <button type="submit" class="w-24 p-2 bg-blue-700 text-white rounded-lg">Entrar</button>
            </div>
        </form>
    </div>
</main>
