<nav class="flex flex-col justify-between border-r-4 shadow-lg h-screen w-full max-w-xs px-5 ">
    <ul class="mt-10 ">
        <li><a href="/">Voltar para o site</a></li>
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/tags">Tags</a></li>
        <li><a href="#">Posts</a></li>
        <li><a href="#">Categorias</a></li>
        <li><a href="/admin/postagem/criar">+ Criar novo post</a></li>
        <li><a href="/admin/categoria/criar">+ Criar nova categoria</a></li>
    </ul>
    
    <div class="py-4 w-full border-t-2 justify-end">
        <a href="/logout">Logout</a>
    </div>
</nav>